h1{
  text-align: center;
  }
  body{
    background-image:url("https://www.themebeta.com/media/cache/resolve/400x225/files/chrome/images/201508/17/f84074ce90ba16d83ab78df82df39542.jpeg");
    background-size: cover;
  }
