h1{
  text-align: center;
  color: purple


  }
  h2{
color: purple
  }
  body{
    background-image:url("http://www.ooyuz.com/images/2015/10/7/1446929935577.jpg");

    background-size: cover;
  }
  p{
    color:black
  }
